.credentials-card{
    display :flex;
    flex-direction: column;
    border: 2px solid black;
    width:100%;
    background-color: rgb(185, 105, 119);
    margin: auto;
    border-radius: 15px;
    align-items: center;
    padding: 20px 35px;
    margin-top: 1rem; 
    margin-bottom: 3rem;
}

.credentialsform-card{
    display: flex;
    width: 900px;
    flex-direction: row;
    border-radius: 15px;
    background-color: antiquewhite;
}

.credentials-input{
    width: fit-content;
    padding: 1rem;
    margin: 1rem;
    border: 1px;
    border-radius: 18px;
    background-color: rgb(191, 188, 123);
}
.credentials-button{
    border: none;
    text-transform: uppercase;
    justify-content: center;
    border-radius: 1000px;
    color:white;
    background: #829593;
    background: linear-gradient(90deg, rgb(165, 113, 113) 0%, rgb(180, 187, 154) 100%);
    cursor: pointer;
    outline: none;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 20px;
    width: fit-content;
    align-self: center;
}

.datatable-table{
    margin-top: 2rem;
}