.calendar-div{
    margin-right: 40%;
    margin-left:40% ;
    border: 1px solid black;
    margin-top: 1rem;
}

.addNote-card{
    display: flex;
    width: fit-content;
    flex-direction: column;
    border-radius: 15px;
    background-color: antiquewhite;
    margin: auto;
    border: 10px solid rgb(185, 105, 119);
}
.addNote-input{
    width: fit-content;
    padding: 1rem;
    margin: 1rem;
    border: 1px;
    border-radius: 18px;
    background-color: rgb(191, 188, 123);
}

.addNote-button{
    border: none;
    text-transform: uppercase;
    justify-content: center;
    border-radius: 1000px;
    color:white;
    background: #829593;
    background: linear-gradient(90deg, rgb(165, 113, 113) 0%, rgb(180, 187, 154) 100%);
    cursor: pointer;
    outline: none;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    width: fit-content;
    align-self: center;
}